* {
    --utbm-blue: rgb(26, 120, 179);
    --utbm-blue-light: rgba(26, 120, 179, 0.3);
}

#eboutique-main {
    display: flex;
}

#eboutique-main section {
    padding: 10px;
    margin: 10px;
}

#items {
    flex-grow: 1;
}

#items h2:not(:first-of-type) {
    margin-top: 20px;
}

.category-navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 20px;
}

.category-navigation button {
    all:unset;
    padding: 5px;
    border: #bbbbbb 1px solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
}

.category-navigation button.dark:hover, .category-navigation button.dark.active {
    background-color: #434343;
}

.category-navigation button.active {
    border-bottom: none;
}

.product-category {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}

.item {
    border: #bbbbbb 1px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 145px;
    min-width: 120px;
    overflow: hidden;
    cursor: pointer;
}

.item.light:hover, .item.light:hover h3 {
    background-color: #bbbbbb;
    border-color: #999999;
}

.item.dark:hover, .item.dark:hover h3 {
    background-color: #434343;
    border-bottom-color: #999999;
}

.item h3 {
    text-align: center;
    border-bottom: #bbbbbb 1px solid;
    padding: 5px;
}

.item h3.light {
    background-color: white;
}

.item h3.dark {
    background-color: #393939;
}

.item img {
    width: 60px;
    height: 60px;
}

.item .content {
    display: flex;
    align-items: center;
}

.item .content-text {
    font-size: 14px;
    margin: auto;
}

.item .description {
    transition: max-height 0.15s ease-out;
    font-size: .8em;
    padding-left: 5px;
    padding-right: 5px;
    max-height: 0;
}

.item:hover .description {
    max-height: 100px;
    transition: max-height 0.25s ease-in;
}


#money-panel {
    padding: 10px 0 0 !important;
    width: 300px;
    border: #bbbbbb 1px solid;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}


#money-panel-content {
    flex: 1;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 0;
    margin: 0;
}


#money-panel h2 {
    text-align: center;
    border-bottom: #bbbbbb 1px solid;
    padding: 0;
    margin-top: -10px;
}


#money-result {
    height: 50px;
    padding-bottom: 0 !important;
    align-items: flex-end;
}


.main-slot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 5px;
}

.secondary-slot {
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    font-size: 80%;
}

.money-slot.light:not(.final-slot):hover {
    background-color: #bbbbbb;
    border-color: #999999;
}
.money-slot.dark:not(.final-slot):hover {
    background-color: #494949;
    border-color: #999999;
}

.money-slot .money-descr {
    font-weight: normal;
    flex: 1;
}

.money-slot .money-amount {
    width: 45px;
}

.money-slot .item-count {
    display: flex;
}

.plus, .minus {
    display: flex;
    align-items: center;
}

.plus img, .minus img {
    width: 13px;
    height: 13px;
}

.plus, .minus, .count-value {
    cursor: pointer;
}

.count-value {
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
}

.count-value input {
    max-width: 50px;
}

/*.final-slot:hover {*/
/*    background-color: transparent;*/
/*}*/

#validation-button {
    text-align: center;
}

#validation-button button {
    margin: 0 10px 10px;
    height: 30px;
    width: 60px;
    cursor: pointer;
    border: var(--utbm-blue) solid 1px;
    border-radius: 4px;
    background-color: #328dd2;
    color: white;
    font-size: 1em;
}

#validation-button button:hover {
    background-color: #00a0ff;
}

#confirmation-validate:disabled {
    background-color: white;
}


@media screen and (max-width: 600px) {
    #eboutique-main {
        flex-direction: column;
    }

    #eboutique-main section {
        margin: 10px 0 0;
        padding: 0;
    }

    #money-panel {
        /*place div on top of previous flex element*/
        order: -1;
        width: 100%;
    }
}

.hide {
    visibility: hidden;
}

#confirmation-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    margin-top: 100% !important;
}

#confirmation-overlay-content {
    padding: 30px;
    border-radius: 5px;
    display: block;
    position: absolute;
    transition: all .5s ease-out;
}

#confirmation-overlay-content.light {
    background-color: #f6f6f6;
}

#confirmation-overlay-content.dark {
    background-color: #393939;
}

#confirmation-overlay-content ul {
    list-style-position: inside;
}

#confirmation-buttons {
    text-align: center;
    margin-top: 10px;
}

#confirmation-buttons button {
    width: 100px;
    height: 30px;
}

#server-response-overlay {
    z-index: 1;
    position: fixed;
    display: flex;
    align-content: center;
    align-items: center;
    height: 42px;
    bottom: -42px;
    margin: 0 !important;
    padding-right: 10px;
    padding-left: 10px;
    left: calc(50% - 100px);
    transition: all .25s ease-out;
    color: white;
    border-radius: 5px;
}

#server-response-overlay:not(.hide) {
    transition: all .5s ease-in;
    bottom: 20%;
}

.success {
    background-color: #28a745;
}

.failure {
    background-color: #dc3545;
}
