* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*all: unset;*/
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
}

body {
    background-color: #2d2d2d;
}

h1 {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 10px 10px 10px 20px;
}

h2 {
    font-size: 1.5rem;
}

hr {
    height: 0;
    border: 0;
    border-top: thin solid #bbbbbb;
    background-color: transparent;
}


nav {
    position: fixed;
    top: 0;
    padding: 0;
    background-color: #393939;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 110%;
    box-shadow: #111 0 0 5px;
    z-index: 2;
}

nav a, .dropdown {
    all: unset;
    --navbar-padding: 15px;
    height: 100%;
    padding: var(--navbar-padding) 20px;
    cursor: pointer;
}

nav a, .dropdown {
    background-image: linear-gradient(to bottom, #393939 50%, #454545 50%);
    background-size: 100% 200%;
}

nav a:hover, .dropdown:hover {
    transition: .5s background-position;
    background-position: 0 -100%;
}

nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #393939;
    margin: var(--navbar-padding) 0 0 -20px;
    /*padding-bottom: var(--navbar-padding);*/
}


nav .dropdown-content a {
    overflow: hidden;
    display: block;
    padding: calc(var(--navbar-padding) / 2) var(--navbar-padding);
}

nav .dropdown-content a:last-of-type {
    padding-bottom: var(--navbar-padding);
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

main {
    width: 90%;
    margin: 70px auto auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #111 0 0 15px;
}

@media screen and (max-width: 600px) {
    main {
        width: 100%;
    }
}

main.light {
    background-color: #f6f6f6;
    color: black;
}

main.dark {
    background-color: #2d2d2d;
    color: white;
}

footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    bottom: 0;
}

footer.light {
    background-color: #f6f6f6;
}

footer.dark {
    background-color: #494949;
    color: darkgrey;
}

