{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'student_life/css/club_style.css' %}">
    <script defer src="{% static 'student_life/js/club_search.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Liste des clubs</h1>

    <form name="filter-form" id="filter-form">
        <div class="form-container">
            <div id="search-form" class="form-section">
                <h4>Filtrer par :</h4>
                <div class="input-group">
                    <label for="name">Nom:</label>
                    <input name="name" id="name" type="text">
                </div>
                <div class="input-group">
                    <label for="president">Président:</label>
                    <input name="president" id="president" type="text">
                </div>
            </div>
            <div id="sort-form" class="form-section">
                <h4>Trier par :</h4>
                <div class="input-group">
                    <label for="order-by"></label>
                    <select name="order-by" id="order-by">
                        <option value="name">Nom</option>
                        <option value="members">Nombre de membres</option>
                    </select>
                </div>
                <div class="input-group">
                    <label>
                        <input type="radio" name="order-direction" value="asc" checked>
                        Ascendant
                    </label>
                    <label>
                        <input type="radio" name="order-direction" value="desc">
                        Descendant
                    </label>
                </div>
            </div>
        </div>
        <button type="button" id="search-form-validation">Valider</button>
    </form>


    <div id="club-pagination">
        {% if page_indexes|length > 1 %}
            {% for p in page_indexes %}
                <button {% if p == clubs.number %}disabled{% endif %} role="button" value="{{ p }}">
                    {{ p }}
                </button>
            {% endfor %}
        {% endif %}
    </div>

    <div class="container" id="club-list">
        {% for club in clubs %}
            <a href="{% url 'vie-etu:view_detail' club.id club.name|slugify %}">
                <img src="/{{ club.logo }}" alt="logo du club {{ club.name }}" width="50px" height="50px">
                <div class="description">
                    <h5>{{ club.name }}</h5>
                    {% if club.president %}
                        <p class="president">Président : {{ club.president }}</p>
                    {% endif %}
                    <p>{{ club.short_description }}</p>
                </div>
            </a>
            {% if not forloop.last %}
                <hr>{% endif %}
        {% endfor %}
    </div>

{% endblock %}
