<script>
{% comment %}
L'ensemble du contenu de ce script est composé
de variables globales générées par le serveur au moment du rendu de la page
et servant à effectuer les opérations sur le panier entièrement du côté client.

La communication avec le serveur ne se fait que lorque le client valide
son panier.

Le code est illisible, mais ce formatage permet de minimiser le nombre de lignes
dans le document généré.
{% endcomment %}

{% comment %}
    Liste des produits disponibles sur la page. Dans le contexte de cette page,
    chaque produit est un caractérisé par son nom, son prix et les réductions éventuelles
    qui lui sont associées.
    La clef de chaque produit est son id en base de données.
{% endcomment %}
const products = {{% for product in products %}
    '{{ product.id }}': {
        'name': '{{ product.name }}',
        'price': '{{ product.price }}',
        'discount': [{% if product.discount.exists %}{% for discount in product.discount.all %}
                    {
                        'nbr_items': {{ discount.nbr_items }},
                        'price': {{ discount.price }}
                    },{% endfor %}{% endif %}
        ]
    },{% endfor %}
}

const combinations = {{% for combination in combinations %}
    {{ combination.id }}: {
        'name': '{{ combination.name }}',
        'price':'{{ combination.price }}',
        'products' :[{% for product in combination.products.all %}{{ product.id }}, {% endfor %}]
    },{% endfor %}
}

const combinations_for_product = {
{% for product in products %}{{ product.id }}:
[{% for combination in product.combinations.all %}
    {% if combination in combinations %}{{ combination.id }}, {% endif %}{% endfor %}
] ,{% endfor %}
}

let basket = {};

const starting_money = {{ balance.amount }};

</script>