{% extends 'base.html' %}

{% load static %}
{% load eboutique_tags %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'eboutique/css/eboutique.css' %}">
    <script defer src="{% static 'eboutique/js/eboutique.js' %}"></script>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <script defer src="{% static 'font-awesome/js/fontawesome.min.js' %}"></script>
{% endblock %}


{% block content %}
    <section id="history" class="side-bar"></section>
    <div id="eboutique-main">
        <section id="items">
            <div class="category-navigation">
                {% for product_group in product_groups %}
                    {% if product_group.products.exists %}
                        <button class="dark {% if forloop.first %}active{% endif %} " value="{{ forloop.counter }}">
                            {{ product_group.name }}
                        </button>
                    {% endif %}
                {% endfor %}</div>
            {% for product_group in product_groups %}
                {% if product_group.products.exists %}
                    <div class="product-group" id="group-{{ forloop.counter }}"
                         {% if not forloop.first %}style="display: none" {% endif %}>
                        <h2>{{ product_group.name }}</h2>
                        <div class="product-category">
                            {% for product in product_group.products.all %}
                                <div class="item dark" id="product-{{ product.id }}">
                                    <h3 class="dark">{{ product.name }}</h3>
                                    <div class="content">
                                        <img src="{{ product.image.url }}" alt="image de {{ product.name }}">
                                        <div class="content-text">
                                            <p>{{ product.price|cent_to_euro }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
        <section id="money-panel">
            <header>
                <h2>Panier</h2>
            </header>
            <div id="money-panel-content">
                <div class="money-slot main-slot dark">
                    <h3 class="money-descr">Solde actuel</h3>
                    <p class="money-amount">{{ balance.amount|cent_to_euro }}</p>
                </div>
                <div class="money-slot main-slot dark">
                    <h3 class="money-descr">Recharger la carte</h3>
                    <label for="add-money"></label>
                    <input type="number" min="0" max="{{ max_euros_more }}" value="0"
                           role="button" name="add-money" id="add-money">€
                </div>
            </div>
            <div id="money-result" class="money-slot main-slot final-slot dark">
                <h3>Solde final</h3>
                <p class="money-amount" id="final-balance" style="width: unset">{{ balance.amount|cent_to_euro }}</p>
            </div>
            <div id="validation-button">
                <button>Valider</button>
            </div>
        </section>
    </div>

    <section id="server-response-overlay" class="hide">
        <p></p>
    </section>

    <section id="confirmation-overlay" class="hide">
        <div id="confirmation-overlay-content" class="bottom dark">
            <h2>Confirmation</h2>
            <p>Votre panier contient :</p>
            <ul></ul>
            <p id="confirmation-total-amount" style="margin-top: 10px"></p>
            <p id="confirmation-balance" style="margin-bottom: 10px"></p>
            <p>Voulez-vous vraiment continuer ?</p>
            <div id="confirmation-buttons">
                <button id="confirmation-cancel">Annuler</button>
                <button id="confirmation-validate">Valider</button>
            </div>
        </div>
    </section>

    <template class="money-slot" id="money-slot-template">
        <div class="main-slot">
            <h3 class="money-descr"></h3>
            <div class="item-count">
                <span class="minus"><i class="fa fa-minus-circle"></i></span>
                <span class="count-value">1</span>
                <span class="plus"><i class="fa fa-plus-circle"></i></span>
            </div>
            <p class="money-amount"></p>
        </div>
    </template>
{% endblock %}



{% block page_script %}
    {% include 'eboutique/index_js_data.html' %}
{% endblock %}