{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
        <title>{% block title %}Association étudiant{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="color scheme" content="dark">
        <meta name="author" content="Association étudiante de l'UTBM">
        <meta name="description" content="{% block meta_description %}Site de l'Association étudiante de l'UTBM{% endblock %}">
        <link rel="preload" as="style" href="{% static 'font-awesome/css/font-awesome.min.css' %}" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}"></noscript>
        <script defer href="{% static 'font-awesome/js/fontawesome.min.js' %}"></script>
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
        {% block additional_css %} {% endblock %}
    {% endblock %}
</head>

<body>

{#The token is always passed here to be accessible from the dom#}
{#See this workaround https://docs.djangoproject.com/en/2.0/ref/csrf/#acquiring-the-token-if-csrf-use-sessions-is-true#}
{% csrf_token %}

<nav>
    {% block nav %}
        <a href="{% url 'index' %}">Accueil</a>
        <div class="dropdown">
            Vie étudiante
            <div class="dropdown-content">
                <a href="{% url 'vie-etu:view_all_clubs' 1 %}">Clubs et assos</a>
                <a href="#">Avantages</a>
                <a href="#">Calendrier</a>
            </div>
        </div>
        <div class="dropdown">
            Cours
            <div class="dropdown-content">
                <a href="{% url 'pedagogy:uv_search' %}">Guide des UVs</a>
                <a href="#">Emploi du temps</a>
            </div>
        </div>
        <a href="#">Forum</a>
        {% if user.is_authenticated %}
            <a href="{% url 'eboutique:index' %}">Boutique en ligne</a>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="dropdown">
            {{ user.username }}
            <div class="dropdown-content">
                <a href="#">Profil</a>
                <a href="#">Déconnexion</a>
            </div>
        </div>
        {% else %}
            <a href="#">Connexion</a>
            <a href="#">Inscription</a>
        {% endif %}
        <div class="dropdown">
            Aide
            <div class="dropdown-content">
                <a href="#">FAQ</a>
                <a href="#">Contacts</a>
                <a href="#">Wiki</a>
            </div>
        </div>
    {% endblock %}
</nav>

<main class="dark">
    {% block content %}



    {% endblock %}
</main>

<footer class="dark">
    {% block footer %}
        <div>
            <a href="#">Contacts</a>
            <a href="#">Mentions légales</a>
            <a href="#">Propriété intellectuelle</a>
            <a href="#">Aide</a>
            <a href="#">R&D</a>
        </div>
        <p>Site fait par des gens bons</p>
    {% endblock %}
</footer>

{% block page_script %}

{% endblock %}
</body>
</html>
